@media (min-width : 950px) {
    .heart__container{
        input[type=checkbox]:hover + .heart{
            opacity: 0 !important;
        }
        input[type=checkbox]:not(:hover) + .heart{
            opacity: 1 !important;
        }
        input[type=checkbox]:hover + .heart + .heart-filled{
            opacity: 1 !important;
        }
    }

    .header__restaurant{
        height: 96px !important;
    }

    .homepage{
        width: 1440px !important;
        header{
            height: 146px;
            .header__logo{
                padding: 0 89px;
                @include flex-column;
                height: 96px;
                justify-content: center;
                .header__back{
                    top: 33px;
                }
                align-items: center;
                .logo{
                    .logo__img {
                        width: 200px;
                    }
                }
            }
        }

        .reservation {
            padding: 31px;
            gap: 20px;
            .reservation__title{
                @include section-heading(275px, $font-family, 40px, 700, 47px, 0em);
                width: 645px;
            }
            .reservation__content {
                margin: 15px 0;
                width: 531px;
            }
            .gradient__container a{
                margin: 0;
            }
        }
        
        .fonctionnement{
            padding: 50px 180px 50px 180px;
            .fonctionnement__container{
                gap: 25px;
                @include flex-row;
            }
        }
        .restaurants{
            padding: 30px 180px 30px 180px;
            .restaurant__box{
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-row-gap: 50px;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 84px;
                .restaurant__card {
                    width: 490px;
                    .restaurant__img{
                    width: 490px;
                    }
                    .card__tag{
                    left: 392px;
                    }
                }
            }
        }
    
        .footer {
            background: $dark-color;
            color: $white-color;
            padding: 77px 25px 21px 25px;
            display: flex;
            flex-direction: row-reverse;
            gap: 73px;
            .footer__logo{
                margin-right: 46px;
            }
            .footer__content {
                @include flex-row;
                gap: 8px;
            }
            .partenaire_link{
                margin-right: 30px;
            }
        }
    }
    
}