@media (min-width : 1024px) {
    .menu__title, .menu__detail__text{
        overflow: visible !important;
        text-overflow: unset !important;
    }
    .homepage-restaurant{
        background: #fff !important;
        .restaurant__img {
           width: 100%;
           height: 383px;
           object-fit: cover;
        }
        .main__restaurant{
        width: 1055px;
        background: #F6F6F6;
        margin: auto;
        .menus {
            width: 634px;
            margin: auto;
        }
        .restaurants__title{
                align-self: center;
        }
        }
    }
}