@media (min-width : 768px) and (max-width : 1024px) {

    .homepage{
        width: 640px !important;
    }

    .logo{
        @include centered-block;
    }

    .fonctionnement{
        .fonctionnement__title {
            @include centered-block;
            text-align: center;
        }
        .fonctionnement__box {
            width: auto !important;
            margin: 0;
            .fonctionnement__content {
                width: auto !important;
                gap: 140px;
            }
        }
    }

    .restaurants .restaurant__box {
        width: auto;
        .restaurant__card {
            .card__tag {
                left: 508px;
            }
            .restaurant__img {
                width: auto;
            }
        }
    }
}