.footer{
    background: $dark-color;
    color: $white-color;
    padding: 25px;
    .footer__logo{
        width: 107px;
        margin-bottom: 18px;
        filter: invert(100%) sepia(55%) saturate(12%) hue-rotate(306deg) brightness(115%) contrast(101%);
    }
    .footer__content{
        @include flex-column;
        gap: 8px;
        .footer__content__link{
            color: $white-color;
            text-decoration: none;
            .footer__bold{
                @include flex-row;
                gap: 10px;
                .footer__bold__text{
                    @include section-heading(auto, Roboto, 16px, 500, 19px, 0em);
                    text-align: left;
                }
                .footer__bold__icon{
                    font-size: 12px;
                    line-height: 19px;
                }

            }
            .footer__regular{
                @include section-heading(auto, Roboto, 16px, 300, 19px, 0em);
                text-align: left;
            }
        }
    }
}