@media (min-width : 640px) and (max-width : 950px) {
    .menu__title, .menu__detail__text{
        overflow: visible !important;
        text-overflow: unset !important;
    }
    .restaurants__title{
        align-self: center;
    }

    .restaurant__img {
        height: 275px;
        width: 100% !important;
        object-fit: cover;
    }

}