.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes reduce {
  0% {
    width: 341px;
  }
  100% {
    width: 253px;
  }
}
@keyframes enlarge {
  0% {
    width: 253px;
  }
  100% {
    width: 341px;
  }
}
@keyframes jumpInOut {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
  }
}
@keyframes hideElement {
  0% {
    display: block;
  }
  90%, 100% {
    display: none;
  }
}
.fonctionnement {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 45px 20px 64px;
  gap: 25px;
}
.fonctionnement .fonctionnement__title {
  width: 275px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.fonctionnement .fonctionnement__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.fonctionnement .fonctionnement__container .fonctionnement__box {
  width: 335px;
}
.fonctionnement .fonctionnement__container .fonctionnement__box .fonctionnement__content {
  width: 322.49px;
  height: 72.38px;
  border-radius: 20px;
  background: rgb(246, 246, 246);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: 12px;
}
.fonctionnement .fonctionnement__container .fonctionnement__box .fonctionnement__content .fonctionnement__number {
  position: relative;
  left: -12px;
  width: 24px;
  height: 24px;
  background: rgb(147, 86, 220);
  border-radius: 50%;
}
.fonctionnement .fonctionnement__container .fonctionnement__box .fonctionnement__content .fonctionnement__number span {
  color: #FFFFFF;
  width: 24px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}
.fonctionnement .fonctionnement__container .fonctionnement__box .fonctionnement__content .fonctionnement__details {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 25px;
}
.fonctionnement .fonctionnement__container .fonctionnement__box .fonctionnement__content .fonctionnement__details span {
  color: rgb(126, 126, 126);
}
.fonctionnement .fonctionnement__container .fonctionnement__box .fonctionnement__content .fonctionnement__details i {
  color: rgb(147, 86, 220);
}
.fonctionnement .fonctionnement__container .fonctionnement__box .fonctionnement__content .fonctionnement__details p {
  width: auto;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 54px 20px;
  gap: 28px;
}
.restaurants .restaurants__title {
  width: auto;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: normal;
}
.restaurants .restaurant__box {
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.restaurants .restaurant__box .restaurant__card {
  height: 251px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  position: relative;
}
.restaurants .restaurant__box .restaurant__card .restaurant__img {
  object-fit: cover;
  height: 179px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 340px;
}
.restaurants .restaurant__box .restaurant__card .card__tag {
  width: 80px;
  height: 26px;
  position: absolute;
  background: rgb(153, 226, 208);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  top: 11px;
  left: 248px;
}
.restaurants .restaurant__box .restaurant__card .card__tag .card__tag__text {
  width: inherit;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(0, 135, 102);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}
.restaurants .restaurant__box .restaurant__card .restaurant__card__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 15px 20px 15px 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restaurants .restaurant__box .restaurant__card .restaurant__card__details .restaurant__card__details__link {
  text-decoration: none;
  color: black;
}
.restaurants .restaurant__box .restaurant__card .restaurant__card__details .restaurant__card__details__link .restaurant__card__description .restaurant__card__title {
  width: auto;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.restaurants .restaurant__box .restaurant__card .restaurant__card__details .restaurant__card__details__link .restaurant__card__description .restaurant__card__location {
  width: auto;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.restaurants .restaurant__box .restaurant__card .restaurant__card__details .heart__container {
  display: block;
  position: relative;
}
.restaurants .restaurant__box .restaurant__card .restaurant__card__details .heart__container .heart {
  font-variation-settings: "FILL" 0;
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.restaurants .restaurant__box .restaurant__card .restaurant__card__details .heart__container .heart-filled {
  font-variation-settings: "FILL" 100;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.restaurants .restaurant__box .restaurant__card .restaurant__card__details .heart__container .heart, .restaurants .restaurant__box .restaurant__card .restaurant__card__details .heart__container .heart-filled {
  font-weight: 100;
  font-size: 30px;
  cursor: default;
  caret-color: transparent;
  margin-left: 30px;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.restaurants .restaurant__box .restaurant__card .restaurant__card__details .heart__container input[type=checkbox] {
  display: none;
}
.restaurants .restaurant__box .la_note_enchantee .restaurant__img {
  object-position: 0% 61%;
}

.footer {
  background: #353535;
  color: #FFFFFF;
  padding: 25px;
}
.footer .footer__logo {
  width: 107px;
  margin-bottom: 18px;
  filter: invert(100%) sepia(55%) saturate(12%) hue-rotate(306deg) brightness(115%) contrast(101%);
}
.footer .footer__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .footer__content .footer__content__link {
  color: #FFFFFF;
  text-decoration: none;
}
.footer .footer__content .footer__content__link .footer__bold {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer .footer__content .footer__content__link .footer__bold .footer__bold__text {
  width: auto;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.footer .footer__content .footer__content__link .footer__bold .footer__bold__icon {
  font-size: 12px;
  line-height: 19px;
}
.footer .footer__content .footer__content__link .footer__regular {
  width: auto;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

@media (min-width: 950px) {
  .heart__container input[type=checkbox]:hover + .heart {
    opacity: 0 !important;
  }
  .heart__container input[type=checkbox]:not(:hover) + .heart {
    opacity: 1 !important;
  }
  .heart__container input[type=checkbox]:hover + .heart + .heart-filled {
    opacity: 1 !important;
  }
  .header__restaurant {
    height: 96px !important;
  }
  .homepage {
    width: 1440px !important;
  }
  .homepage header {
    height: 146px;
  }
  .homepage header .header__logo {
    padding: 0 89px;
    display: flex;
    flex-direction: column;
    height: 96px;
    justify-content: center;
    align-items: center;
  }
  .homepage header .header__logo .header__back {
    top: 33px;
  }
  .homepage header .header__logo .logo .logo__img {
    width: 200px;
  }
  .homepage .reservation {
    padding: 31px;
    gap: 20px;
  }
  .homepage .reservation .reservation__title {
    width: 275px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    width: 645px;
  }
  .homepage .reservation .reservation__content {
    margin: 15px 0;
    width: 531px;
  }
  .homepage .reservation .gradient__container a {
    margin: 0;
  }
  .homepage .fonctionnement {
    padding: 50px 180px 50px 180px;
  }
  .homepage .fonctionnement .fonctionnement__container {
    gap: 25px;
    display: flex;
    flex-direction: row;
  }
  .homepage .restaurants {
    padding: 30px 180px 30px 180px;
  }
  .homepage .restaurants .restaurant__box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 84px;
  }
  .homepage .restaurants .restaurant__box .restaurant__card {
    width: 490px;
  }
  .homepage .restaurants .restaurant__box .restaurant__card .restaurant__img {
    width: 490px;
  }
  .homepage .restaurants .restaurant__box .restaurant__card .card__tag {
    left: 392px;
  }
  .homepage .footer {
    background: #353535;
    color: #FFFFFF;
    padding: 77px 25px 21px 25px;
    display: flex;
    flex-direction: row-reverse;
    gap: 73px;
  }
  .homepage .footer .footer__logo {
    margin-right: 46px;
  }
  .homepage .footer .footer__content {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .homepage .footer .partenaire_link {
    margin-right: 30px;
  }
}
@media (min-width: 641px) and (max-width: 950px) {
  .homepage {
    width: 640px !important;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
  }
  .fonctionnement .fonctionnement__title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .fonctionnement .fonctionnement__box {
    width: auto !important;
    margin: 0;
  }
  .fonctionnement .fonctionnement__box .fonctionnement__content {
    width: auto !important;
    gap: 140px;
  }
  .restaurants .restaurant__box {
    width: auto;
  }
  .restaurants .restaurant__box .restaurant__card .card__tag {
    left: 508px;
  }
  .restaurants .restaurant__box .restaurant__card .restaurant__img {
    width: auto;
  }
}
@media (max-width: 950px) {
  .restaurant__card__details .heart__container input[type=checkbox]:checked + .heart {
    opacity: 0 !important;
  }
  .restaurant__card__details .heart__container input[type=checkbox]:not(:checked) + .heart {
    opacity: 1 !important;
  }
  .restaurant__card__details .heart__container input[type=checkbox]:checked + .heart + .heart-filled {
    opacity: 1 !important;
  }
  .restaurant__card__details .heart__container input[type=checkbox]:not(:checked) + .heart + .heart-filled {
    opacity: 0 !important;
  }
  .restaurant__card__details .heart__container input[type=checkbox] {
    display: none;
  }
}
@media (min-width: 950px) {
  .menu__title, .menu__detail__text {
    overflow: visible !important;
    text-overflow: unset !important;
  }
  .homepage-restaurant {
    background: #fff !important;
  }
  .homepage-restaurant .restaurant__img {
    width: 1440px;
    height: 383px;
    object-fit: cover;
  }
  .homepage-restaurant .main__restaurant {
    width: 1055px;
    background: #F6F6F6;
    margin: auto;
  }
  .homepage-restaurant .main__restaurant .menus {
    width: 634px;
    margin: auto;
  }
  .homepage-restaurant .main__restaurant .menus input[type=checkbox]:hover + .menu .validation__box {
    transform: translateX(576px);
  }
  .homepage-restaurant .main__restaurant .menus input[type=checkbox]:not(:hover) + .menu .validation__box {
    transform: translateX(634px);
  }
  .homepage-restaurant .main__restaurant .restaurants__title {
    align-self: center;
  }
}
@media (min-width: 640px) and (max-width: 950px) {
  .menu__title, .menu__detail__text {
    overflow: visible !important;
    text-overflow: unset !important;
  }
  .restaurants__title {
    align-self: center;
  }
  .restaurant__img {
    height: 275px;
    width: 100% !important;
    object-fit: cover;
  }
  .menus input[type=checkbox]:checked + .menu .validation__box {
    transform: translateX(548px) !important;
  }
  .menus input[type=checkbox]:not(:checked) + .menu .validation__box {
    transform: translateX(608px) !important;
  }
}
@media (max-width: 950px) {
  .heart__container input[type=checkbox]:checked + .heart {
    opacity: 0;
  }
  .heart__container input[type=checkbox]:not(:checked) + .heart {
    opacity: 1;
  }
  .heart__container input[type=checkbox]:checked + .heart + .heart-filled {
    opacity: 1;
  }
  .heart__container input[type=checkbox]:not(:checked) + .heart + .heart-filled {
    opacity: 0;
  }
  .heart__container input[type=checkbox] {
    display: none;
  }
}
.header__back {
  position: absolute;
  top: 17px;
  left: 17px;
  padding: 7px 6px;
}
.header__back .header__back__link {
  color: #000;
  text-decoration: none;
}
.header__back .header__back__icon {
  font-size: 20px;
}

.restaurant__img {
  width: 375px;
  height: 275px;
}

.restaurants__page {
  padding: 17px 17px 0 17px !important;
  gap: 30px !important;
  background: #F6F6F6;
  position: relative;
  top: -40px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.restaurants .restaurants__title {
  margin-top: 10px;
}
.restaurants .restaurants__title .restaurants__title__text {
  width: auto;
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  color: #101010;
}
.restaurants .restaurants__title .heart__container {
  display: block;
  position: relative;
}
.restaurants .restaurants__title .heart__container .heart {
  font-variation-settings: "FILL" 0;
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.restaurants .restaurants__title .heart__container .heart-filled {
  font-variation-settings: "FILL" 100;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.restaurants .restaurants__title .heart__container .heart, .restaurants .restaurants__title .heart__container .heart-filled {
  font-weight: 100;
  font-size: 30px;
  cursor: default;
  caret-color: transparent;
  margin-left: 30px;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.restaurants .restaurants__title .heart__container input[type=checkbox] {
  display: none;
}
.restaurants .menus {
  gap: 12px;
}
.restaurants .menus .menus__title {
  width: 275px;
  height: 27px;
  gap: 5px;
}
.restaurants .menus .menus__title .menus__title__text {
  width: auto;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.restaurants .menus .menus__title .underline {
  width: 40px;
  top: 27px;
  border: 2px;
  background: #99E2D0;
  border: 2px solid #99E2D0;
}
.restaurants .menus .menu {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  overflow: hidden;
}
.restaurants .menus .menu .menu__card {
  padding: 15px;
  gap: 5px;
}
.restaurants .menus .menu .menu__card .menu__title {
  width: auto;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.restaurants .menus .menu .menu__card .menu__detail .menu__detail__text {
  width: auto;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.restaurants .menus .menu .validation__box {
  width: 58px;
  border-radius: 0px 15px 15px 0px;
  background: #99E2D0;
  position: absolute;
  height: 74px;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transform-origin: translateX(341px);
  -webkit-transform-origin: translateX(341px);
}
.restaurants .menus .menu .validation__box .validation__box__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}
.restaurants .menus .menu .validation__box .menu__price {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0em;
  width: fit-content;
  align-self: end;
  margin-bottom: 15px;
  right: 40px;
  position: relative;
}
.restaurants .menus input[type=checkbox] {
  display: none;
}
.restaurants .menus input[type=checkbox]:checked + .menu .validation__box {
  transform: translateX(283px);
}
.restaurants .menus input[type=checkbox]:not(:checked) + .menu .validation__box {
  transform: translateX(341px);
}
.restaurants .menus input[type=checkbox]:checked + .menu .menu__card {
  animation: reduce 1s backwards;
}
.restaurants .menus input[type=checkbox]:checked + .menu .menu__title, .restaurants .menus input[type=checkbox]:checked + .menu .menu__detail__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 213px;
}
.restaurants .menus input[type=checkbox]:not(:checked) + .menu .menu__card {
  animation: enlarge 1s forwards;
}
.restaurants .menus input[type=checkbox]:not(:checked) + .menu .menu__title, .restaurants .menus input[type=checkbox]:not(:checked) + .menu .menu__detail__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurants .entrees {
  opacity: 0;
  animation: fadeIn 2s forwards;
}
.restaurants .plats {
  opacity: 0;
  animation: fadeIn 3s forwards;
}
.restaurants .desserts {
  opacity: 0;
  animation: fadeIn 4s forwards;
}
.restaurants .reservation_page {
  position: relative;
  padding: 0 !important;
}

.m-0 {
  margin: 0;
}

.homepage {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  background: #F6F6F6;
  visibility: visible;
}

.header {
  height: 113px;
}

.header__logo {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  padding: 14px 89px;
}

.logo {
  width: 197px;
  height: 36px;
  text-align: center;
}
.logo img {
  width: 162px;
  height: 44px;
}

.location {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #EAEAEA;
}
.location i {
  color: #353535;
}
.location input {
  width: 110px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: normal;
  border: none;
  background-color: #EAEAEA;
  outline: none;
}

.reservation {
  padding: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.reservation h2 {
  width: 275px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
.reservation p {
  width: 315px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}

.gradient__container {
  position: relative;
}

.gradient__link, .gradient__link__hover {
  display: inline-block;
  color: #FFFFFF;
  width: 218px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  padding: 15.5px 0;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  text-decoration: none;
  text-align: center;
  margin: 12px 0 12px;
}

.gradient__link {
  position: absolute;
  background: linear-gradient(359.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  z-index: 2;
}

.gradient__link__hover {
  position: relative;
  background: linear-gradient(358.33deg, #9356DC -39.44%, #FF79DA 81.93%);
  opacity: 0;
  z-index: 3;
  transition: opacity 0.5s ease-in-out;
}

.gradient__container:hover .gradient__link__hover {
  opacity: 1;
}

.loader {
  background: white;
  height: 1080px;
  position: fixed;
  z-index: 3000000;
  width: 100%;
  animation: hideElement 3s linear;
  display: none;
}
.loader .loader-icon {
  font-size: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(147, 86, 220);
}
.loader .loader-icon i {
  animation: jumpInOut 2s ease-in-out infinite;
}

/*# sourceMappingURL=homepage.css.map */
